<mat-toolbar color="primary">
    <mat-icon color="warn">favorite</mat-icon>
    <span class="ml-2">
        Charts App
    </span>
    <span class="spacer"></span>
    <span>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>format_color_fill</mat-icon>
        </button>
    </span>
</mat-toolbar>


<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let theme of themes" (click)="selectedTheme(theme.class)">
        <ng-container *ngIf="storedTheme == theme.class; else elseTemplate">
            <mat-icon>radio_button_checked</mat-icon>
        </ng-container>
        <ng-template #elseTemplate>
            <mat-icon>radio_button_unchecked</mat-icon>
        </ng-template>

        {{theme.name}}
    </button>
</mat-menu>